<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medic.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @medic.surname %>
</p>

<p>
  <strong>License number:</strong>
  <%= @medic.license_number %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @medic.specialization %>
</p>

<p>
  <strong>Office:</strong>
  <%= @medic.office.number %>
</p>
<%= link_to 'Edit', edit_medic_path(@medic) %> |
<%= link_to 'Back', medics_path %>
