<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong> <%= @turn.date %><br><br>
  <strong>Patient name: </strong><%= @turn.patient.name %><br><br>
  <strong>Medic Name: </strong><%= @turn.medic.name %><br><br>
</p>

<%= link_to 'Destroy', @turn, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
