<p id="notice"><%= notice %></p>
<h1><%= @patient.surname %> <%= @patient.name %></h1>
<b>DNI:</b> <%= @patient.dni%> <br>
<b>MAIL: </b><%= @patient.mail %><br>
<b>AGE:</b> <%= @patient.age %><br>

<%= link_to 'Editar', edit_patient_path(@patient) %> |
<%= link_to 'Atras', patients_path %>
